<div class="max-w-7xl mx-auto px-4 py-20">
  <div class="flex justify-between">
    <h1 class="text-4xl font-bold my-10">Recent Blog</h1>
    <a href="" class="underline">View all posts</a>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <div class="flex flex-col justify-center">
      <img src="/images/blog/img1.png" alt="" class="w-full max-w-sm object-cover" />
      <h1 class="text-sm mt-2">First Time Home Owner Ideas</h1>
      <p class="text-xs text-gray-500">by Tariq Raza on Feb 26, 2025</p>
    </div>

    <div class="flex flex-col justify-center">
      <img src="/images/blog/img2.png" alt="" class="w-full max-w-sm object-cover" />
      <h1 class="text-sm mt-2">First Time Home Owner Ideas</h1>
      <p class="text-xs text-gray-500">by Tariq Raza on Feb 26, 2025</p>
    </div>

    <div class="flex flex-col justify-center">
      <img src="/images/blog/img3.png" alt="" class="w-full max-w-sm object-cover" />
      <h1 class="text-sm mt-2">First Time Home Owner Ideas</h1>
      <p class="text-xs text-gray-500">by Tariq Raza on Feb 26, 2025</p>
    </div>
    <div class="flex flex-col justify-center">
      <img src="/images/blog/img4.png" alt="" class="w-full max-w-sm object-cover" />
      <h1 class="text-sm mt-2">First Time Home Owner Ideas</h1>
      <p class="text-xs text-gray-500">by Tariq Raza on Feb 26, 2025</p>
    </div>
    <div class="flex flex-col justify-center">
      <img src="/images/blog/img5.png" alt="" class="w-full max-w-sm object-cover" />
      <h1 class="text-sm mt-2">First Time Home Owner Ideas</h1>
      <p class="text-xs text-gray-500">by Tariq Raza on Feb 26, 2025</p>
    </div>
    <div class="flex flex-col justify-center">
      <img src="/images/blog/img6.png" alt="" class="w-full max-w-sm object-cover" />
      <h1 class="text-sm mt-2">First Time Home Owner Ideas</h1>
      <p class="text-xs text-gray-500">by Tariq Raza on Feb 26, 2025</p>
    </div>
    <div class="flex flex-col justify-center">
      <img src="/images/blog/img7.png" alt="" class="w-full max-w-sm object-cover" />
      <h1 class="text-sm mt-2">First Time Home Owner Ideas</h1>
      <p class="text-xs text-gray-500">by Tariq Raza on Feb 26, 2025</p>
    </div>
    <div class="flex flex-col justify-center">
      <img src="/images/blog/img8.png" alt="" class="w-full max-w-sm object-cover" />
      <h1 class="text-sm mt-2">First Time Home Owner Ideas</h1>
      <p class="text-xs text-gray-500">by Tariq Raza on Feb 26, 2025</p>
    </div>
    <div class="flex flex-col justify-center">
      <img src="/images/blog/img9.png" alt="" class="w-full max-w-sm object-cover" />
      <h1 class="text-sm mt-2">First Time Home Owner Ideas</h1>
      <p class="text-xs text-gray-500">by Tariq Raza on Feb 26, 2025</p>
    </div>
  </div>
</div>
