<div class="max-w-7xl mx-auto px-4 py-20">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 lg:gap-20 items-start">
    <div>
      <h1 class="text-4xl font-bold mb-4">Why Choose Us</h1>

      <p class="text-md max-w-lg text-gray-700 mb-12">
        As a Top premium furniture store in Thiruvananthapuram, we offer quality, stylish, and
        durable furniture with expert service to create elegant, comfortable living spaces tailored
        to your needs.
      </p>

      <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-12 gap-y-10">
        <div class="flex gap-4 items-start">
          <img src="/icons/icon1.svg" class="w-10 h-10 shrink-0" />
          <div>
            <h2 class="font-semibold mb-2">Expert Service</h2>
            <p class="text-sm text-gray-600">
              Our knowledgeable team offers personalized guidance and attentive support.
            </p>
          </div>
        </div>

        <div class="flex gap-4 items-start">
          <img src="/icons/icon2.svg" class="w-10 h-10 shrink-0" />
          <div>
            <h2 class="font-semibold mb-2">Premium Quality</h2>
            <p class="text-sm text-gray-600">
              Furniture built to last using durable materials and expert craftsmanship.
            </p>
          </div>
        </div>

        <div class="flex gap-4 items-start">
          <img src="/icons/icon3.svg" class="w-10 h-10 shrink-0" />
          <div>
            <h2 class="font-semibold mb-2">Stylish Designs</h2>
            <p class="text-sm text-gray-600">Modern trends blended with timeless aesthetics.</p>
          </div>
        </div>

        <div class="flex gap-4 items-start">
          <img src="/icons/icon4.svg" class="w-10 h-10 shrink-0" />
          <div>
            <h2 class="font-semibold mb-2">Trusted Locally</h2>
            <p class="text-sm text-gray-600">
              A leading furniture store known for quality and customer satisfaction.
            </p>
          </div>
        </div>

        <div class="flex gap-4 items-start">
          <img src="/icons/icon5.svg" class="w-10 h-10 shrink-0" />
          <div>
            <h2 class="font-semibold mb-2">Comfort & Function</h2>
            <p class="text-sm text-gray-600">Designed for comfort with everyday practicality.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="relative flex justify-center lg:justify-end mt-12 lg:mt-0">
      <img src="/images/circles.png" class="absolute -top-12 -left-12 w-80" />
      <img
        src="/images/sofa1.jpg"
        class="relative z-10 rounded-3xl w-full max-w-md lg:max-w-none"
      />
    </div>
  </div>

  <div class="my-20 lg:my-40">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-y-20 lg:gap-20 items-center">
      <div class="relative justify-end min-h-105">
        <div class="relative w-full h-[500px]">
  <!-- Circles -->
  <div class="absolute -top-12 -left-4 w-80 h-80">
    <img
      src="/images/circles.png"
      class="w-full h-full"
    />
  </div>

  <!-- Image 1 -->
  <div class="absolute top-4 md:left-16 left-0 md:w-72 md:h-80 w-52 h-50">
    <img
      src="/images/img1.jpg"
      class="w-full h-full object-cover rounded-4xl"
    />
  </div>

  <!-- Image 2 -->
  <div class="absolute -top-1 md:left-[340px] left-[200px] md:w-40 md:h-40 w-35 h-35">
    <img
      src="/images/img2.jpg"
      class="w-full h-full object-cover rounded-4xl"
    />
  </div>

  <!-- Image 3 -->
  <div class="absolute top-40 md:left-60 left-28 md:w-72 md:h-80 w-52 h-50">
    <img
      src="/images/img3.jpg"
      class="w-full h-full object-cover rounded-4xl"
    />
  </div>
</div>

      </div>

      <div>
        <h1 class="text-4xl font-bold mb-4">
          Expertly Designed Premium Quality and Modern Aesthetics Together
        </h1>
        <p class="text-md text-gray-700">
          Professionally designed furniture that blends premium quality with modern aesthetics.
          Discover the best customised furniture in Trivandrum, crafted for durability, style, and
          comfort.
        </p>
      </div>
    </div>
  </div>

  <div class="mt-20 lg:mt-40">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
      <div class="flex gap-4 items-center">
        <div class="h-56 flex items-center justify-center">
          <img
            src="images/chairs/BORGOS57.png"
            class="max-h-full w-auto max-w-36 sm:max-w-44 object-contain"
          />
        </div>

        <div>
          <h3 class="font-semibold">BORGO S57</h3>
          <p class="text-sm text-gray-600">
            This is a modern upholstered accent chair High, curved back with a smooth front and
            pleated fabric detailing on the sides and rear, giving it a sculptural look.
          </p>
        </div>
      </div>

      <div class="flex gap-4 items-center">
        <div class="h-56 flex items-center justify-center">
          <img
            src="images/chairs/BORGOS58.png"
            class="max-h-full w-auto max-w-36 sm:max-w-44 object-contain"
          />
        </div>

        <div>
          <h3 class="font-semibold">BORGO S58</h3>
          <p class="text-sm text-gray-600">
            Curved with vertica— this adds a touch of luxury and enhances ergonomic support. Slim
            integrated arms that curve smoothly from the backrest, providing light arm support
            without bulk
          </p>
        </div>
      </div>

      <div class="flex gap-4 items-center">
        <div class="h-56 flex items-center justify-center">
          <img
            src="images/chairs/BORGOS60.png"
            class="max-h-full w-auto max-w-36 sm:max-w-44 object-contain"
          />
        </div>

        <div>
          <h3 class="font-semibold">BORGO S60</h3>
          <p class="text-sm text-gray-600">
            The chair features a modern design with a wingback or medium back style. It often
            includes a quilted or vertical striped pattern for added aesthetic appeal.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
