<div class="body-dark">
  <div class="max-w-7xl mx-auto px-4 py-20">
    <div class="text-center mb-16">
      <h1 class="text-white text-4xl font-bold">About</h1>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-12 items-start">
      <div>
        <h2 class="text-4xl font-medium max-w-md mb-6">
          Discover Comfort and Functionality with Every Piece in Our Collections
        </h2>
        <p class="max-w-md text-lg text-gray-600 mb-10">
          Discover comfort and functionality with every piece in our collection. As one of the top
          furniture stores in Trivandrum, Barunga Industries offers quality furniture that blends
          modern design with lasting durability.
        </p>
      </div>

      <div class="hidden md:grid grid-cols-2 sm:grid-cols-3 gap-6">
        <div class="relative group overflow-hidden rounded-2xl">
          <div
            class="absolute inset-0 bg-white translate-y-full transition-transform duration-500 ease-out group-hover:translate-y-0"
          ></div>
          <div class="relative z-10">
            <img src="/images/chair1.png" class="max-w-full mx-auto" />
            <p class="text-center my-5">Nordic Chair</p>
          </div>
        </div>

        <div class="relative group overflow-hidden rounded-2xl">
          <div
            class="absolute inset-0 bg-white translate-y-full transition-transform duration-500 ease-out group-hover:translate-y-0"
          ></div>
          <div class="relative z-10">
            <img src="/images/chair2.png" class="max-w-full mx-auto" />
            <p class="text-center my-5">Nordic Chair</p>
          </div>
        </div>
        <div class="relative group overflow-hidden rounded-2xl">
          <div
            class="absolute inset-0 bg-white translate-y-full transition-transform duration-500 ease-out group-hover:translate-y-0"
          ></div>
          <div class="relative z-10">
            <img src="/images/chair3.png" class="max-w-full mx-auto" />
            <p class="text-center my-5">Nordic Chair</p>
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-10">
      <div class="relative group overflow-hidden rounded-2xl">
        <div
          class="absolute inset-0 bg-white translate-y-full transition-transform duration-500 ease-out group-hover:translate-y-0"
        ></div>
        <div class="relative z-10">
          <img src="/images/chair3.png" class="max-w-full mx-auto" />
          <p class="text-center my-5">Nordic Chair</p>
        </div>
      </div>
      <div class="relative group overflow-hidden rounded-2xl">
        <div
          class="absolute inset-0 bg-white translate-y-full transition-transform duration-500 ease-out group-hover:translate-y-0"
        ></div>
        <div class="relative z-10">
          <img src="/images/chair3.png" class="max-w-full mx-auto" />
          <p class="text-center my-5">Nordic Chair</p>
        </div>
      </div>
      <div class="relative group overflow-hidden rounded-2xl">
        <div
          class="absolute inset-0 bg-white translate-y-full transition-transform duration-500 ease-out group-hover:translate-y-0"
        ></div>
        <div class="relative z-10">
          <img src="/images/chair3.png" class="max-w-full mx-auto" />
          <p class="text-center my-5">Nordic Chair</p>
        </div>
      </div>
      <div class="relative group overflow-hidden rounded-2xl">
        <div
          class="absolute inset-0 bg-white translate-y-full transition-transform duration-500 ease-out group-hover:translate-y-0"
        ></div>
        <div class="relative z-10">
          <img src="/images/chair3.png" class="max-w-full mx-auto" />
          <p class="text-center my-5">Nordic Chair</p>
        </div>
      </div>
    </div>
  </div>
</div>
